flows_nodered.json
[{"id":"cd7b3d87.ad535","type":"tab","label":"Flow 1"},{"id":"9cc6422d.63696","type":"sw-config","z":"","name":"WaterMeter","hwid":"123-TEST-4567890","specification":"964e7613-dab3-4fb3-8919-266a91370884","site":"19f17b62-fe9e-4b6d-8d9b-85ca73795e98"},{"id":"661cb856.af2888","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"nodered","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"4b6cba47.7cd234","type":"sw-config","z":"","name":"view site","hwid":"123-TEST-4567890","specification":"964e7613-dab3-4fb3-8919-266a91370884","site":"bb105f8d-3150-41f5-b9d1-db04965668d3"},{"id":"7c1d7f52.eb08b","type":"sw-send-measurements","z":"cd7b3d87.ad535","name":"Build measurement","mxname":"","mxvalue":"0","updstate":true,"config":"9cc6422d.63696","x":715,"y":545,"wires":[["63545be.3546ba4","f808ad1.b9c715"]]},{"id":"63545be.3546ba4","type":"debug","z":"cd7b3d87.ad535","name":"D3","active":true,"console":"false","complete":"payload","x":913,"y":364,"wires":[]},{"id":"b20b630b.3a00b","type":"mqtt in","z":"cd7b3d87.ad535","name":"","topic":"/esp/to/nodered","qos":"2","broker":"661cb856.af2888","x":126,"y":616,"wires":[["3cbdaaad.269a36"]]},{"id":"5946aecf.5d685","type":"debug","z":"cd7b3d87.ad535","name":"D1","active":true,"console":"false","complete":"payload","x":451,"y":373,"wires":[]},{"id":"f808ad1.b9c715","type":"mqtt out","z":"cd7b3d87.ad535","name":"To Sitewhere","topic":"SiteWhere/input/json","qos":"","retain":"","broker":"661cb856.af2888","x":934,"y":621,"wires":[]},{"id":"687d7bc8.957644","type":"function","z":"cd7b3d87.ad535","name":"payload translation","func":"msg['mx:meterId'] = msg.payload.meterId;\nmsg['mx:counter'] = msg.payload.counter;\nmsg['mx:adc'] = msg.payload.adc;\nreturn msg;","outputs":1,"noerr":0,"x":484,"y":545,"wires":[["7c1d7f52.eb08b","dd705903.88a4c8"]]},{"id":"dd705903.88a4c8","type":"debug","z":"cd7b3d87.ad535","name":"D2","active":true,"console":"false","complete":"payload","x":684,"y":368,"wires":[]},{"id":"c9ba4b4f.3df5d8","type":"sw-register","z":"cd7b3d87.ad535","name":"Register","config":"9cc6422d.63696","x":424,"y":76,"wires":[["cacb38bb.681fe8","4dc3abad.45d124"]]},{"id":"cacb38bb.681fe8","type":"mqtt out","z":"cd7b3d87.ad535","name":"Reg to SiteWhere","topic":"SiteWhere/input/json","qos":"","retain":"","broker":"661cb856.af2888","x":703,"y":120,"wires":[]},{"id":"4dc3abad.45d124","type":"debug","z":"cd7b3d87.ad535","name":"D0","active":true,"console":"false","complete":"payload","x":666,"y":35,"wires":[]},{"id":"ff364101.bd736","type":"mqtt in","z":"cd7b3d87.ad535","name":"From Sitewhere","topic":"SiteWhere/system/123-TEST-4567890","qos":"2","broker":"661cb856.af2888","x":433,"y":237,"wires":[["cb9acfc8.95e67"]]},{"id":"cb9acfc8.95e67","type":"debug","z":"cd7b3d87.ad535","name":"","active":true,"console":"false","complete":"false","x":661,"y":237,"wires":[]},{"id":"dc46fdc3.aa2a8","type":"inject","z":"cd7b3d87.ad535","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":76,"wires":[["c9ba4b4f.3df5d8"]]},{"id":"3cbdaaad.269a36","type":"json","z":"cd7b3d87.ad535","name":"","x":299,"y":546,"wires":[["687d7bc8.957644","5946aecf.5d685"]]},{"id":"a4494a8.c7ebab8","type":"inject","z":"cd7b3d87.ad535","name":"","topic":"trigger","payload":"{\"meterId\": 1, \"counter\":2, \"adc\":3}","payloadType":"str","repeat":"","crontab":"","once":false,"x":138,"y":377,"wires":[["3cbdaaad.269a36"]]}]
